    
    .resultadoZonaA {
        position:relative;
        font-size:15px;
        border:2px solid #000000;
        margin:15px;
        padding:10px;
        height:150px;
        width:250px;
        right:0px;
        background-color:white;
    }
    
    .resultadoZonaB {
        position:relative;
        font-size:15px;
        border:2px solid #000000;
        margin:15px;
        padding:10px;
        height:150px;
        width:250px;
        left:50%;
        background-color:white;
        top: 0px;

    }
    
    .fechaZonaA{
        position:relative;
        font-size:15px;
        margin:15px;
        padding:10px;
        right:0px;
    }
    
.fechaZonaB{
    position:relative;
    font-size:15px;
    margin:15px;
    padding:10px;
    left:50%;
}